.complain_detail{
  background: #ffffff;
  .school{
    .btn_open{
      margin-left: 5px;
    }
  }
  .complain{
    font-size: 14px;
    border-bottom: 1px dashed #D1D3D9;
    padding-bottom: 16px;
    &:last-child{
      border: none;
    }
    .result_title{
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #373E4F;
    }
    .result_t{
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #767C90;
      span{
        padding-right: 20px;
      }
    }
    .result_r{
      color: $color-333;
      padding: 10px 0;
    }
  }
  :deep(.el-step__title){
    color: $color-333 !important;
    font-weight: 700;
  }
  :deep(.el-step.is-vertical .el-step__line){
    width: 0;
    bottom: 3px;
    border: 1px dashed #D1D3D9;
    background: transparent;
  }
  :deep(.el-step__icon.is-text){
    border: none;
  }
  .svgIcon{
    width: 20px;
    height: 20px;
  }
}