.content {
  padding-bottom: 16px;
  border-bottom: 1px dashed #d1d3d9;
}
.con_box {
  width: 60%;
  max-height: 1000px;
  overflow: scroll;
}
.padding24 {
  padding: 24px 24px 0 24px;
}
.content_form {
  padding-bottom: 16px;
}
