
.area_header{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(rgba(81, 152, 255, 0.18) 0%, rgba(99, 117, 124, 0.02) 52%, rgba(81, 152, 255, 0.18) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0 25px;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #9FB5D9;
  border: 1px solid #005AAD;
  display: flex;
  align-items: center;
  &::before{
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border: 16px solid #000000;
    border-color: #000000 #000000 transparent transparent;
    position: absolute;
    top: -1px;
    right: -1px;
  }
  &::after{
    content: '';
    display: inline-block;
    width: 45px;
    height: 1px;
    background: #005AAD;
    position: absolute;
    top: 15px;
    right: -7px;
    transform: rotate(45deg);
  }
  .area_h_l{
    flex: 1;
    display: flex;
    align-items: center;
    .icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      background: linear-gradient(to left, #46ACDA , #46ACDA ) left top no-repeat,
                linear-gradient(to bottom, #46ACDA , #46ACDA ) left top no-repeat,
                linear-gradient(to left, #46ACDA , #46ACDA ) right top no-repeat,
                linear-gradient(to bottom, #46ACDA , #46ACDA ) right top no-repeat,
                linear-gradient(to left, #46ACDA , #46ACDA ) left bottom no-repeat,
                linear-gradient(to bottom, #46ACDA , #46ACDA ) left bottom no-repeat,
                linear-gradient(to left, #46ACDA , #46ACDA ) right bottom no-repeat,
                linear-gradient(to left, #46ACDA , #46ACDA ) right bottom no-repeat;
      background-size: 1px 10px, 8px 1px, 1px 10px, 8px 1px;
      margin-right: 15px;
      position: relative;
      padding: 1px;
      &::before{
        content: '';
        width: 8px;
        height: 8px;
        display: inline-block;
        background: #46ACDA;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg) skew(10deg,10deg);
      }
      &::after{
        content: '';
        width: 18px;
        height: 2px;
        display: inline-block;
        background: #46ACDA;
        position: absolute;
        bottom: -14px;
      }
    }
  }
  .area_h_r{
    flex: 1;
    text-align: right;
    position: relative;
    span{
      display: inline-block;
      width: 20px;
      height: 2px;
      background: #004c94d2;
      transform: rotate(45deg);
      transform-origin: center right;
    }
    &::after{
      content: '';
      width: 30px;
      height: 2px;
      display: inline-block;
      background: #46ACDA;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}
