.left_bottom {
  padding: 30px 40px;
  color: #9fb5d9;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  .t {
    padding-bottom: 10px;
  }
  .l_b_i {
    display: flex;
    .l_b_c {
      flex: 1;
    }
  }
}
