.table-v2-custom {
  @apply border border-solid border-gray-200;
}
:deep(.el-table-v2__header-row) {
  background-color: #f7f8fa;
}
:deep(.el-table-v2__header-cell) {
  background-color: #f7f8fa;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #373e4f;
  position: relative;
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 18px;
    background: #d1d3d9;
    right: 0;
    top: 14px;
  }
  .el-table-v2__sort-icon {
    margin-top: -2px;
  }
}
:deep(.el-table-v2__body) {
  .el-table-v2__row:last-child {
    border-bottom: 0;
  }
}
