.basic {
  .content {
    .school {
      font-size: 14px;
      width: 280px;
      .el-image {
        width: 104px;
        height: 104px;
        background: $F1F1F1;
        text-align: center;
        line-height: 104px;
      }
      .text {
        padding-top: 5px;
      }
      .school_imgs {
        .image_item {
          display: inline-block;
          width: 64px;
          height: 64px;
          padding: 4px;
          border-radius: 2px;
          border: 1px solid $E2E3E6;
          margin: 2px;
          .el-image {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
    .info {
      flex: 1;
      font-size: 14px;
    }
  }
}
.account,
.basic {
  padding-bottom: 16px;
  border-bottom: 1px dashed $E2E3E6;
}
